<div class="row">
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i> Listar sócios
      </div>
      <div class="card-body">
        <div class="table-responsive">

            <ngx-datatable
            class="bootstrap"
            [rows]="rows"
            [loadingIndicator]="true"
            [columns]="columns"
            [columnMode]="'force'"
            [headerHeight]="40"
            [footerHeight]="40"
            [limit]="10"
            [rowHeight]="'auto'"
            [reorderable]="true">
          </ngx-datatable>

        </div>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
</div>
