<div class="row">
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i> Listar Empresas
      </div>
      <div class="card-body">
        <div class="table-responsive">

          <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Razão Social</th>
                <th>CNPJ</th>
                <th>Email</th>
                <th>Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
</div>
