<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="index.html">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Blank Page</li>
</ol>
<div class="row">
  <div class="col-12">
    <div class="container">
      <div class="card-header">Novo Sócio</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">Nome</label>
                <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Digite seu nome">
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">Sobrenome</label>
                <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Digite seu sobrenome">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="cpf">CPF</label>
                <input class="form-control" id="cpf" type="number" aria-describedby="nameHelp" placeholder="Digite seu CPF" placeholder="000.000.000-00">
              </div>
              <div class="col-md-6">
                <label for="email">Email</label>
                <input class="form-control" id="email" type="email" aria-describedby="nameHelp" placeholder="Digite seu sobrenome">
              </div>
            </div>
          </div>
          <br />
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <button class="btn btn-primary">Salvar</button>
                <button class="btn btn-default">Limpar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
  </div>
</div>